<header>
  <div class="navigation {{data.nav_scroll_state}}">
    <div class="burger {{state}}">
      <div class="burger__lines">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="burger__cross">
        <span></span>
        <span></span>
      </div>
    </div>
    <app-navigation *ngIf="!data.nav_location"></app-navigation>
  </div>
</header>

<main> 
  
  <div class="sidebar {{state}}" appDrawer>
    <div class="sidebar__menu">
      <app-navigation *ngIf="data.nav_location"></app-navigation>
    </div>
    <div class="socials">
      <app-socials></app-socials>
    </div>
  </div>
  
  <div class="bp-page">
    <div class="bp-container">
      <div>
      <div class="bp-heading">
        <div class="bp-heading__container">
          <h1 class="bp-heading__title">{{current_post[0].title}}</h1>
          <div class="bp-heading__date">posted on {{current_post[0].posted_on | date}}</div>
        </div>
      </div>
      <div class="bp-image">
        <img src={{current_post[0].image_large}} alt="angular-drawing">
      </div>
      <div class="bp-content">
        <h2 class="bp-content__title">{{current_post[0].small_title}}</h2>
        <div class="bp-content__text">
          <div [innerHTML]="current_post[0].content"></div>
        </div>
      </div>
    </div>

      <div class="bp-sidebar" *ngIf="media_xs">
        <div class="bp-sidebar__title">More posts</div>

        <div class="bp-sidebar__post" *ngFor="let posting of sidebar_posts">
          <div class="bp-sidebar__date">Posted on {{posting.posted_on | date}}</div>
          <div class="bp-sidebar__image">
            <img src={{posting.image_small}} alt="angular-drawing">
          </div>
          <div class="bp-sidebar__headline" (click)="data.getUniquePost(posting.id - 1, posting.title, posting.category)">{{posting.title}}</div>
          <div class="bp-sidebar__text">
            <p>{{posting.short_content}}</p>
          </div>
        </div>

      </div>

      <div class="bp-comments">
        <h2 class="bp-comments__title">Comment this post</h2>
        <div class="bp-comments__container">

          <form class="bp-comments__form" (ngSubmit)="commentsForm.form.valid && onSubmit()" #commentsForm="ngForm" novalidate>
            <div class="bp-comments__field">
              <input 
                class="bp-comments__input" 
                type="text" 
                required 
                name="name"
                minlength="2"
                [(ngModel)]="send_comment.name" 
                #name="ngModel"
                placeholder="Your name">
              <div *ngIf="name.invalid && name.dirty" class="bp-comments__error">
                <p *ngIf="name.errors.required">Name is required</p>
                <p *ngIf="name.errors.minlength"> Name must be at least 2 characters long.</p>
              </div>
            </div>
            <div class="bp-comments__field">
              <textarea 
                class="bp-comments__textarea" 
                placeholder="Share your thougths"
                required 
                minlength="10"
                name="message"
                #message="ngModel" 
                [(ngModel)]="send_comment.message">
              </textarea>
            <div *ngIf="message.invalid && message.dirty" class="bp-comments__error">
              <p *ngIf="message.errors.required">Message is required</p>
              <p *ngIf="message.errors.minlength"> Message must be at least 10 characters long.</p>
            </div>

            </div>
            <button [disabled]="commentsForm.invalid" class="bp-comments__btn-submit" type="submit">Submit</button>
          </form>

          <div class="bp-recent">
            <h3 class="bp-recent__title">Recent comments</h3>
            <div class="bp-recent__container">
              <div class="bp-recent__block" *ngFor="let comment of post_comments">
                <div class="bp-recent__name">{{comment.name}}</div>
                <div class="bp-recent__date">Commented on {{comment.date | date}}</div>
                <div class="bp-recent__text">{{comment.comment}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bp-sidebar" *ngIf="!media_xs">
      <div class="bp-sidebar__title">Related posts</div>

      <div class="bp-sidebar__post" *ngFor="let posting of sidebar_posts">
        <div class="bp-sidebar__date">Posted on {{posting.posted_on | date}}</div>
        <div class="bp-sidebar__image">
          <img src={{posting.image_small}} alt="angular-drawing">
        </div>
        <div class="bp-sidebar__headline" (click)="data.getUniquePost(posting.id - 1, posting.title, posting.category)">{{posting.title}}</div>
        <div class="bp-sidebar__text">
          <p>{{posting.short_content}}</p>
        </div>
      </div>


    </div>
  </div>

</main>

<app-popup [action_value]='action' (returnEvent)=checkModal($event)></app-popup>
