<header>
  <div class="navigation {{data.nav_scroll_state}}">
    <div class="burger {{state}}">
      <div class="burger__lines">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="burger__cross">
        <span></span>
        <span></span>
      </div>
    </div>
    <app-navigation *ngIf="!data.nav_location"></app-navigation>
  </div>
</header>

<main>
  <div class="sidebar {{state}}" appDrawer>
    <div class="sidebar__menu">
      <app-navigation *ngIf="data.nav_location"></app-navigation>
    </div>
    <div class="socials">
      <app-socials></app-socials>
    </div>
  </div>

  <div class="bp-header">
    <div class="bp-header__info">
      <h1 class="bp-header__title">Web Developer Notes</h1>
      <div class="bp-header__text">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, rerum voluptas soluta enim adipisci earum, nobis iusto deserunt exercitationem dolores natus facilis a nihil molestias illum non minima saepe atque.</p>
      </div>

      <form class="bp-subscribe" (ngSubmit)="subscribeForm.form.valid && onSubmit()" #subscribeForm="ngForm" novalidate>
        <div class="bp-subscribe__field" [ngClass]="{ 'is-invalid': email.invalid && email.dirty }">
          <input class="bp-subscribe__input" 
                 type="email"
                 email
                 required 
                 minlength="3"
                 name="email"
                 [(ngModel)]="model.email" 
                 #email="ngModel"
                 placeholder="Email address">
            <div *ngIf="email.invalid && email.dirty" class="bp-subscribe__error">
              <p *ngIf="email.errors.required">Email is required</p>
              <p *ngIf="email.errors.email">Email must be a valid email address</p>
              <p *ngIf="email.errors.minlength"> Email must be at least 3 characters long.</p>
            </div>
        </div>
        <button [disabled]="subscribeForm.invalid" class="bp-subscribe__btn-subscribe" type="submit">Subscribe</button>
      </form>

    </div>
    <div class="bp-header__image">
      <img src="assets/images/bp-bck.png" alt="abstract-graphic">
    </div>
  </div>

  <div class="bp-container">
    <div class="bp-container__posts">

      <div class="bp-post" *ngFor="let post of postsData$ | async; index as i;">
        <div class="bp-post__image">
          <img src={{post.image_small}} alt="blog-image">
        </div>
        <div class="bp-post__data">
          <div class="bp-post__date">Posted on {{post.posted_on | date}}</div>
          <button class="bp-post__category" (click)="filterByCategory(post.category)">{{post.category}} Category</button>
        </div>
        <h2 class="bp-post__title" (click)="data.getUniquePost(i, post.title)">
          {{post.title}}
        </h2>
        <div class="bp-post__text">
          <p>{{post.short_content}}</p>
        </div>
      </div>

      <ul class="bp-pagination">
        <li class="bp-pagination__prev">Previous</li>
        <li class="bp-pagination__button">1</li>
        <li class="bp-pagination__button">2</li>
        <li class="bp-pagination__button">3</li>
        <li class="bp-pagination__dots">...</li>
        <li class="bp-pagination__button">17</li>
        <li class="bp-pagination__next">Next</li>
      </ul>
    </div>
    <div class="bp-container__sidebar">
      <div class="bp-search">
        <div class="bp-search__title">Search for posts</div>

        <form class="bp-search__field" (ngSubmit)="searchForm.form.valid && onSearch()" #searchForm="ngForm" novalidate>
          <input type="search" 
                 required
                 minlength="3"
                 placeholder="search for..."
                 name="search"
                 [(ngModel)]="search_model.search" 
                 #search="ngModel">
          <button class="bp-search__btn-search" type="submit" [disabled]="searchForm.invalid">
            <img src="assets/icons/search.svg" alt="search-icon">
          </button>
        </form>

      </div>
      <div class="bp-categories">
        <div class="bp-categories__title">Posts by Category</div>
        <div class="bp-categories__post">
          <a class="bp-categories__headline" href="#">Posts related to Angular Framework</a>
          <div class="bp-categories__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet mollis nunc.</p>
          </div>
        </div>
        <div class="bp-categories__post">
          <a class="bp-categories__headline" href="#">Posts related to Angular Framework</a>
          <div class="bp-categories__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet mollis nunc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<app-popup [action_value]='action' (returnEvent)=checkModal($event)></app-popup>