<nav class="navigation__container">
  <ul class="navigation__list">
    <li>
      <a class="navigation__link" 
         routerLink="/about" 
         routerLinkActive="navigation__link--active" 
         [routerLinkActiveOptions]="{exact: true}">
         About me
      </a>
    </li>
    <li>
      <a class="navigation__link" 
         routerLink="/contact" 
         routerLinkActive="navigation__link--active" 
         [routerLinkActiveOptions]="{exact: true}">
      Contact
      </a>
    </li>
    <li>
      <a class="navigation__link navigation__link--unique" 
         routerLink="/portfolio" 
         routerLinkActive="navigation__link--active" 
         [routerLinkActiveOptions]="{exact: true}">
         Portfolio
      </a>
    </li>
    <li>
      <a class="navigation__link" 
         routerLink="/blog" 
         routerLinkActive="navigation__link--active" 
         [routerLinkActiveOptions]="{exact: true}">
      Blog
      </a>
    </li>
  </ul>
</nav>